.layout-principal{
  display: flex;
  gap: 20px;
  padding: 20px;
}
.contenido{
  flex: 1;
}
.filtros{
  width: 250px;
  flex-shrink: 0;
  
}.layout-principal{
  display: flex;
  gap: 20px;
  padding: 20px;
}
.contenido{
  flex: 1;
}
.filtros{
  width: 250px;
  flex-shrink: 0;
  
}